teradata_mcp/__pycache__/
teradata_mcp/tdsql/__pycache__/
teradata_mcp/src/__pycache__/
teradata_mcp/src/tdsql/__pycache__/
logs/teradata_mcp.log
teradata_mcp/test/__pycache__/
teradata_mcp/test/lc.py
teradata_mcp/src/logs/teradata_mcp.log
teradata_businessinsight_mcp/src/tdsql/__pycache__/
teradata_datainsight_mcp/src/__pycache__/
teradata_datainsight_mcp/src/logs/teradata_mcp.log
teradata_datainsight_mcp/src/tdsql/__pycache__/
teradata_dataquality_mcp/src/__pycache__/
teradata_dataquality_mcp/src/logs/teradata_mcp.log
teradata_dataquality_mcp/src/tdsql/__pycache__/
teradata_objectinsight_mcp/src/__pycache__/
teradata_objectinsight_mcp/src/logs/teradata_mcp.log
teradata_objectinsight_mcp/src/tdsql/__pycache__/
test/__pycache__/prompt.cpython-313.pyc
teradata_businessinsight_mcp/src/__pycache__/
logs/teradata_businessisight_mcp.log
logs/teradata_datainsight_mcp.log
logs/teradata_dataquality_mcp.log
logs/teradata_objectinsight_mcp.log
teradata_businessinsight_mcp/src/logs/teradata_mcp.log
teradata_datainsight_mcp/src/logs/teradata_datainsight_mcp.log
teradata_dataquality_mcp/src/logs/teradata_dataquality_mcp.log
teradata_objectinsight_mcp/src/logs/teradata_objectinsight_mcp.log
teradata_businessinsight_mcp/src/logs/teradata_businessisight_mcp.log
.env
.DS_Store
teradata_mcp_server/src/__pycache__/server.cpython-313.pyc
teradata_mcp_server/src/td_connect/__pycache__/__init__.cpython-313.pyc
teradata_mcp_server/src/td_connect/__pycache__/td_connect.cpython-313.pyc
teradata_mcp_server/src/td_connect/__pycache__/tdsql.cpython-313.pyc
logs/teradata_mcp_server.log
